# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
.cache/

# IDE settings
.idea/
.vscode/
*.iml

# Build output
build/
dist/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor backups
*~